body, html {
	background-color: #FAD7A0;
	height:100%;
	}

[class*='pImg']{
	background-attachment: fixed;
	background-position: relative;
	padding: 20px;

}
.pImg1{
	position:relative;
	background-position: center;
	background-image:url(../img/myImg.jpeg);
	min-height:100vh;
	background-color:red;
	text-align: center;
	background-size: cover;
}

.pImg2{
	background-image:url(../img/myImg2.jpeg);
	background-color: red;
	background-size: cover;
	min-height:400px;
}

.pImg3{
	background-image:url(../img/myImg3.jpg);
	min-height:400px;
	background-color: yellow;

}

section{
	color: #fff;
	font-family: 'Bookman';
	font-size: 18px;
	line-height: 1.6em;
	padding: 30px;
	overflow: hidden;
	}

.section1{
	background: #333;
}
.section2{
	color: #303030;
}

.myWelcome{

	background-color: rgba(92, 4, 4, 0.5);
	border-radius:2px%;
	text-align: center;
	color:floralwhite;
	font-family: 'Palatino';
	font-size: 120%;
	line-height: 1.2em;
	padding: 20px;
	margin: 10px;

}
